# SQLAlchemy database connection URL
# Example: mysql+pymysql://user:password@mysql:3306/database_name
SQLALCHEMY_DATABASE_URL=

# Password of root to read and write to database
# Example: password
MYSQL_ROOT_PASSWORD=

# JWT encryption/signing algorithm
# Example: HS256
ENCRYPT_ALGORITHM=

# Secret key used to sign JWT tokens and other sensitive data
SECRET_KEY=

# Backend port
# Example: 8000
BE_PORT=

# Allowed frontend origin for CORS
# Example: http://localhost:3000
ORIGIN=

# Application environment
# Allowed values:
# - dev  : development mode
# - prod : production mode
ENV=

# Google client ID
# Example: YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_ID=